body {
    color: #555;
}
div#main-container {
    max-width: 1000px;
}

img.gap-right {
    margin-right: 10px;
}

ul.nav.navbar-nav li a {
    transition: all 0.5s ease;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

a.entry-list {
    background-color:#EFEEEC;
}

span.glyphicon.glyphicon-bookmark {
    margin-right: 1em;
}

h3 {
    color:#8C001A;
}

div.mathjax-incf-font {
    font-size: 1.3em;
}

div.jxgbox {
    margin-bottom: 10px;
}